pkgbase = penguinguide-bin
	pkgdesc = Friendly Linux helper that teaches commands while doing tasks
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/scottc943/penguinguide
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = tar
	depends = glibc
	optdepends = iproute2: additional routing and interface info output
	optdepends = curl: improved public IP detection and extended speed tests
	optdepends = networkmanager: nicer wifi output through nmcli
	optdepends = wireless_tools: fallback wifi data using iwconfig
	provides = penguinguide
	conflicts = penguinguide
	source_x86_64 = https://github.com/scottc943/penguinguide/releases/download/v0.1.0/penguinguide_0.1.0_linux_amd64.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://github.com/scottc943/penguinguide/releases/download/v0.1.0/penguinguide_0.1.0_linux_arm64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = penguinguide-bin
